{%- if include.category -%}
  {%- assign category_text = ' category “' | append: site.data.categories[include.category].title | append: '”' -%}
  {%- assign feed_filename = site.theme_settings.feed_filename | default: 'feed.xml' -%}
  {%- assign feed_link = '/' | append: include.category | append: '/' | append: feed_filename -%}
{%- else -%}
  {%- assign category_text = ' all categories' -%}
  {%- assign feed_link = site.feed.path | default: '/feed.xml' -%}
{%- endif -%}
<footer aria-label="Feed Subscription Offer">Subscribe to updates of {{ category_text }} via <a href="{{ feed_link | relative_url }}" rel="alternate nofollow noindex">Atom feed</a></footer>