{%- assign feed_filename = site.theme_settings.feed_filename | default: 'feed.xml' -%}
  <link type="application/atom+xml" rel="alternate" href="{{ site.feed.path | default: '/feed.xml' | relative_url }}" title="{{ site.title | smartify }}{% if site.theme_settings.category_feed_all_name != '' %}{{ site.feed.title_separator }}{% endif %}{{ site.theme_settings.category_feed_all_name | smartify }}">
{%- if page.categories.size > 0 -%}
  {%- assign sorted_categories = page.categories | sort -%}
  {%- for category in sorted_categories -%}
    {%- assign category_slugified = category | slugify -%}
    {%- assign category_feed_url = site.theme_settings.category_dir | default: '/category' | append: '/' | append: category_slugified | append: '/' | append: feed_filename %}
  <link type="application/atom+xml" rel="alternate" href="{{ category_feed_url | relative_url }}" title="{{ site.title | append: site.feed.title_separator | append: category | smartify }}">
  {%- endfor -%}
{%- elsif page.layout == 'category' -%}
  {%- assign category_slugified = page.title | slugify -%}
  {%- assign category_feed_url = site.theme_settings.category_dir | default: '/category' | append: '/' | append: category_slugified | append: '/' | append: feed_filename %}
  <link type="application/atom+xml" rel="alternate" href="{{ category_feed_url | relative_url }}" title="{{ site.title | append: site.feed.title_separator | append: page.title | smartify }}">
{%- elsif site.categories.size > 0 -%}
  {%- assign sorted_categories = site.categories | sort -%}
  {%- for category in sorted_categories -%}
    {%- assign category_slugified = category[0] | slugify -%}
    {%- assign category_feed_url = site.theme_settings.category_dir | default: '/category' | append: '/' | append: category_slugified | append: '/' | append: feed_filename %}
  <link type="application/atom+xml" rel="alternate" href="{{ category_feed_url | relative_url }}" title="{{ site.title | append: site.feed.title_separator | append: category[0] | smartify }}">
  {%- endfor -%}
{%- endif -%}
