{%- assign feed_filename = site.theme_settings.feed_filename | default: 'feed.xml' -%}
  <link rel="alternate" type="application/atom+xml" href="{{ site.feed.path | default: '/feed.xml' | relative_url }}"{% if site.lang %} hreflang="{{ site.lang }}"{% endif %} title="{{ site.title | smartify }}{% if site.theme_settings.category_feed_all_name != '' %}{{ site.feed.title_separator | smartify }}{{ site.theme_settings.category_feed_all_name | smartify }}{% endif %}">
{%- if page.categories.size > 0 -%}
  {%- assign sorted_categories = page.categories | sort -%}
  {%- for category in sorted_categories -%}
    {%- assign category_feed_url = '/' | append: category | append: '/' | append: feed_filename -%}
  {%- assign category_title = site.data.categories[category].title %}
  <link rel="alternate" type="application/atom+xml" href="{{ category_feed_url | relative_url }}"{% if site.lang %} hreflang="{{ site.lang }}"{% endif %} title="{{ site.title | append: site.feed.title_separator | append: category_title | smartify }}">
  {%- endfor -%}
{%- elsif page.layout == 'category' -%}
  {%- assign category_feed_url = '/' | append: page.category | append: '/' | append: feed_filename -%}
  {%- assign category_title = site.data.categories[page.category].title %}
  <link rel="alternate" type="application/atom+xml" href="{{ category_feed_url | relative_url }}"{% if site.lang %} hreflang="{{ site.lang }}"{% endif %} title="{{ site.title | append: site.feed.title_separator | append: category_title | smartify }}">
{%- elsif site.categories.size > 0 -%}
  {%- assign sorted_categories = site.categories | sort -%}
  {%- for category in sorted_categories -%}
    {%- assign category_feed_url = '/' | append: category[0] | append: '/' | append: feed_filename -%}
    {%- assign category_slug = category[0] -%}
    {%- assign category_title = site.data.categories[category_slug].title %}
  <link rel="alternate" type="application/atom+xml" href="{{ category_feed_url | relative_url }}"{% if site.lang %} hreflang="{{ site.lang }}"{% endif %} title="{{ site.title | append: site.feed.title_separator | append: category_title | smartify }}">
  {%- endfor -%}
{%- endif -%}
