  <header>
    <nav>
      {%- assign home_link = '/' -%}
      {%- assign home_link_title = site.theme_settings.home_link_title | default: 'Home' -%}
      {%- assign home_link_aria_label = site.theme_settings.home_link_aria_label | default: 'Home Link' -%}
      {%- if page.layout == 'category' -%}
        {%- assign icon = site.data.categories[page.category].icon -%}
      {%- elsif page.collection and page.collection == 'posts' -%}
        {%- if page.categories[0] -%}
          {%- assign category = page.categories[0] -%}
          {%- assign icon = site.data.categories[category].icon -%}
          {%- assign home_link = '/' | append: category | append: '/' -%}
          {%- assign home_link_title = site.theme_settings.category_home_link_title | default: 'Category Home' -%}
          {%- assign home_link_aria_label = site.theme_settings.category_home_link_aria_label | default: 'Category Home Link' -%}
        {%- endif -%}
      {%- endif -%}
      {%- if page.icon -%}
        {%- assign icon = page.icon -%}
      {%- endif %}
      <a href="{{ home_link | relative_url }}" title="{{ home_link_title }}" aria-label="{{ home_link_aria_label }}">{% unless page.hide_icon %}{{ icon | default: site.theme_settings.icon }}{% endunless %}</a>
    </nav>
  </header>