  <header>
    <nav>
      {%- if page.layout == 'category' -%}
        {%- assign icon = site.data.categories[page.category].icon -%}
      {%- elsif page.collection and page.collection == 'posts' -%}
        {%- if page.categories[0] -%}
          {%- assign category = page.categories[0] -%}
          {%- assign icon = site.data.categories[category].icon -%}
          {%- assign home_link = '/' | append: category | append: '/' -%}
        {%- else -%}
          {%- assign home_link = '/' -%}
        {%- endif -%}
      {%- endif -%}
      {%- if page.icon -%}
        {%- assign icon = page.icon -%}
      {%- endif %}
      <a href="{{ home_link | default: '/' | relative_url }}" title="Home" aria-label="Home Link" accesskey="h">{% unless page.hide_icon %}{{ icon | default: site.theme_settings.icon }}{% endunless %}</a>
    </nav>
  </header>