{%- comment -%} Compared to former versions all smartify filter miss a following `| escape` {%- endcomment -%}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{%- assign theme_color = page.theme_color | default: site.theme_settings.theme_color -%}
{%- if theme_color %}
  {%- if theme_color != 'none' %}
  <meta name="theme-color" content="{{ theme_color }}">
    {%- if theme_color contains '#' %}
      {%- assign theme_color = theme_color | replace: '#', '' %}
    {%- endif %}
  {% include_cached icons/{{ theme_color }}.html %}
  {% include_cached icons/{{ theme_color }}.svg.html %}
  {%- endif %}
  <link rel="stylesheet" href="{{ '/assets/css/' | append: theme_color | append: '.css' }}">
{%- else %}
  <link rel="stylesheet" href="{{ '/assets/css/none.css' }}">
  <link rel="icon" href="data:;base64,=">
{%- endif %}
{%- if site.author.copyright %}
  <meta name="copyright" content="{{ site.author.copyright }}">
{%- endif %}
{%- if site.author.license_link %}
  <link rel="license" href="{{ site.author.license_link }}">
{%- endif %}
{%- if page.sitemap == false %}
  <meta name="robots" content="noindex">
{%- endif -%}