@charset "utf-8";
html {
  max-width: 720px; // 720px (= 66.182ch in system-ui macOS), use 1440w images for 2x displays
  margin: 0 auto;
  padding: 0.5em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125rem;
  font-size-adjust: from-font;
  line-height: 1.5;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body { margin: 0; }
h1, h2, h3, h4, h5, h6 { line-height: 1.2; }
h1 { margin: 0 0 1em; font-size: 2rem; text-align: center; }
ul, ol { padding-left: 2em; }
ul > ul, ol > ol, ul > ol, ol > ul, li > ul, li > ol { padding-left: 1.3em; }
blockquote { margin-left: 0.5em; padding-left: 0.75em; border-left: 0.06em solid var(--line-color); }
pre, code { border: 0.07em solid var(--pre-bg-color); border-radius: 0.187em; background-color: var(--pre-bg-color); }
pre { padding: 0.5em 0.75em; overflow-x: auto; }
code { padding: 0.125em 0.312em; }
pre > code { border: 0; padding-right: 0; padding-left: 0; }
sup, sub { font-size: 0.611rem; line-height: 0; }
figure { margin-left: 0; margin-right: 0; text-align: center; font-size: 0.778rem; line-height: 1; }
table { border-collapse: collapse; margin: 1em auto; }
th, td { padding: 0.5em; }
thead th { border-bottom: 0.12em solid var(--line-color); }
tbody th, tbody td { border-top: 0.06em solid var(--line-color); }
tbody + tbody { border-top: 0.12em solid var(--line-color); }
tfoot th, tfoot td { border-top: 0.12em solid var(--line-color); }
hr { margin: 2em 0; border: none; border-top: 0.06em solid var(--line-color); }
body > header { margin: 0.5em auto; text-align: center; font-size: 6rem; line-height: 1; }
body > header a { text-decoration: none; }
body > main { margin-bottom: 3em; }
body > main > section > footer,
body > main > footer { font-size: smaller; }
body > main > section > section > article > header > time,
body > main > section > article > header > time { display: block; font-size: 0.778rem; line-height: 1.2; }
body > main > section > section > article > header > h4,
body > main > section > article > header > h3 { margin: 0.2em 0; font-size: 1.5rem; font-weight: 500; line-height: 1.1; }
body > main > section > section > article > p,
body > main > section > article > p { margin: 0; line-height: 1.3; }
body > main > section > section > article,
body > main > section > article { margin-bottom: 2em; }
body > main > article > header > h1:has(+time) { margin: 0 0 0.5em; }
body > main > article > header > h1 + time { display: block; margin-bottom: 2em; text-align: center; font-size: 1rem; }
body > main img { display: block; margin: 0 auto 1em; max-width: 100%; height: auto; }
div:has(iframe) + figcaption { margin-top: 1em; }
.footnotes { margin: 2em 0 1em; border-top: .08em solid var(--line-color); font-size: 0.778rem; line-height: 1.5; }
