@charset "utf-8";
@import "styles";

:root {
  color-scheme: light;
  --fg-color: black;
  --link-color: black;
  --link-u-color: white;
  --link-vis-color: black;
  --link-vis-u-color: black;
  --line-color: white;
  --h-color: white;
}

h1, h2, h3 {
  color: var(--h-color);
}

body > main > article > div > h2 > a, body > main > article > div > h3 > a {
  color: var(--h-color);
  text-decoration-color: var(--h-color);
}
