<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
<head>
{% include default-head.html %}
  <title>{% if page.title %}{{ page.title | smartify }}{% else %}{{ site.title | smartify }}{% endif %}</title>
{% include custom-head.html %}
</head>
<body>
{% include header.html %}
  <main aria-label="Content">
    <article itemscope itemtype="https://schema.org/WebPage">
      <header>
        <h1 itemprop="headline name">{{ page.title | smartify }}</h1>
      </header>
      <div itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
{{ content }}
      </div>
    </article>
  </main>
</body>
</html>
