---
layout: default
---
  <main aria-label="Content" itemscope itemtype="https://schema.org/Blog">
    {%- if site.title %}
    <h1>{{ site.title | smartify }}</h1>
    {%- endif %}

    {%- assign content_without_newlines = content | strip_newlines -%}
    {%- if content_without_newlines != "" %}
    <section aria-label="Introduction">
{{ content }}
    </section>

    <hr>
    {%- endif %}

    {%- if site.posts.size > 0 -%}
      {% if page.list_title %}
    <section aria-labelledby="{{ page.list_title | downcase | url_encode }}">
      <h2 id="{{ page.list_title | downcase | url_encode }}">{{ page.list_title | smartify }}</h2>
      {%- endif -%}
      {%- assign date_format = site.date_format | default: "%Y-%m-%d" -%}
      {%- assign year = "" -%}
      {%- for post in site.posts -%}
        {%- assign current_year = post.date | date: "%Y" -%}
        {%- if year != current_year -%}
          {%- if year != "" %}
      </section>
          {%- endif -%}
          {%- assign year = current_year %}

      <section aria-labelledby="{{ year }}">
        <h3 id="{{ year }}">{{ year }}</h3>
        {%- endif %}

        <article itemscope itemtype="https://schema.org/BlogPosting"{%- if page.colorful_index %} style="margin-bottom: {% if forloop.last %}1em{% else %}0{% endif %}; padding: 1em; background-color: {{ post.theme_color }};"{%- endif %}>
          <header>
        {%- unless page.hide_dates %}
            <time itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
        {%- endunless %}
            <h4 itemprop="headline name">{% if page.colorful_index %}{% unless post.hide_list_icon %}{{ post.icon | default: site.theme_settings.icon }}&nbsp;{% endunless %}{% endif %}<a href="{{ post.url | relative_url }}">{{ post.title | smartify }}</a>{%- if post.content_warnings contains "video" -%}&nbsp;📽️{%- endif -%}</h4>
          </header>
        {%- if site.theme_settings.show_excerpts -%}
          {%- unless page.hide_excerpts %}
          <p aria-label="Abstract" itemprop="abstract">
            {{ post.excerpt | strip_html | smartify }}
          </p>
          {%- endunless %}
        {%- endif %}
        </article>
      {%- endfor %}
      </section>

      {% include_cached feed-subscription.html %}
    </section>
    {%- endif %}
  </main>