---
layout: default
---
  <main aria-label="Content">
    <article itemscope itemtype="https://schema.org/WebPage">
      <header>
        <h1 itemprop="headline name">{{ page.title | smartify }}</h1>
      </header>
      <div itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
        {%- if page.image %}
        <img itemprop="image" src="{{ page.image.path | relative_url }}" alt="{{ page.image.alt }}" title="{{ page.image.title }}">
        {%- endif %}

        {%- if page.excerpt and site.theme_settings.show_excerpts -%}
          {%- unless page.hide_excerpts %}
        <p itemprop="abstract"><strong>{{ page.excerpt | smartify }}</strong></p>
          {%- endunless %}
        {%- endif %}
{{ content }}
      </div>
    </article>
  </main>