---
layout: default
---
  <main aria-label="Content">
    <article itemscope itemtype="https://schema.org/BlogPosting">
      <header>
        <h1 itemprop="headline name">{{ page.title | smartify }}</h1>
        {%- assign date_format = site.date_format | default: '%Y-%m-%d' %}
        <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: date_format }}</time>
      </header>
      <div itemprop="articleBody">
        {%- if page.image %}
        <img itemprop="image" src="{{ page.image.path | relative_url }}" alt="{{ page.image.alt }}" title="{{ page.image.title }}">
        {%- endif %}
        {%- if site.theme_settings.show_descriptions and page.description -%}
          {%- unless page.hide_descriptions %}
        <p aria-label="Abstract" itemprop="abstract"><strong>{{ page.description | smartify }}</strong></p>
          {%- endunless -%}
        {%- endif %}
{{ content }}
      </div>
    </article>
  </main>