---
layout: default
---
  <main aria-label="Content">
    <article itemscope itemtype="https://schema.org/BlogPosting">
      <header>
        <h1 itemprop="headline name">{{ page.title | smartify }}</h1>
        {%- assign date_format = site.date_format | default: '%Y-%m-%d' %}
        <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: date_format }}</time>
      </header>
      <div itemprop="articleBody">
{% include page-content.html %}
      </div>
      {%- if page.tags.size > 0 %}
      <footer>
        <p><strong>Tags:</strong>{% for tag in page.tags %} <a href="/tags/{{ tag | slugify }}/" rel="noindex"><span>{{ tag }} ({{ site.tags[tag].size }})</span></a>{% endfor %}</p>
      </footer>
      {%- endif %}
    </article>
  </main>